/* Cart.css */

/* Container styles */
.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 70px;
}

/* Heading styles */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Cart item styles */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.item-info {
  /* flex-grow: 1; */
  display: flex;
  align-items: center; /* Vertically center content */
  margin-right: 20px;
}

.item-info img {
  width: 200px;
}

.item-info p {
  padding-left: 10px; /* Adjust as needed */
  padding-bottom: 5px;
}

/* Button styles */
button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #e64a19;
}

/* Cart summary styles */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Checkout button styles */
.cart-summary button {
  background-color: #4caf50;
}
.cartitemdata{
  margin-left: 5rem;
}
.cart-summary button:hover {
  background-color: #388e3c;
}

/* Responsive styles */
@media (max-width: 768px) {
  .cart-container {
    padding: 10px;
  }
  .cart-item,.item-info {
    flex-direction: column;
  }
}
