
  .ccard {
    box-shadow: 5px 10px 8px 10px #888888;
    transition: 0.3s;
    display: flex;  
    flex-direction: row; /* Default to a column layout */
    align-items: center;
    max-width: 600px; /* Adjust the maximum width as needed */
    margin-top:120px ; /* Center the card horizontally */
    padding: 20px; /* Add some padding for spacing */
    background-color: rgb(13, 22, 31);
    margin-left: 25%;
    border-radius: 40px;
  }
  
  .ccard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .ccard-image img{
    width: 250px; /* Set the width of the image */
    max-width: 100%; /* Ensure the image doesn't exceed the card width */
    margin-right: 20px; /* Add spacing between image and container */
    border-radius: 15px;
  }
  
  .coontainer {
    text-align: center;
    align-items: center;
    color: aliceblue;
    flex: 1; /* Allow the container to grow and take available space */
  }
  
  @media (max-width: 769px) {
    .ccard {
      flex-direction: column; 
      align-items: center; 
      padding-top: 80px;
      padding-bottom: 40px;
      margin-left: 4%;
      margin-right: 4%;
      margin-top: 0%;
      border-radius: 40px;
    }
  
    .ccard-image img {
      width: 250px;
      margin-right: 20px; 
      border-radius: 10px;
    }
  
    .coontainer {
        margin-top: 30px;
        padding-top: 20px;
        text-align: center;
      align-items: center;
      color: aliceblue;
    }
  }
  